spring:
  application:
    name: medical-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/medical_db
    username: postgres
    password: 1234

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect    
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
